# Python
*.pyc
__pycache__/

# Environments
.env
venv/
env/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Databases
*.db

# IDE / Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Git
.gitignore
.gitmessage.txt
